@model PropertyRentalManagement.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyManagerId" class="control-label">Property Manager</label>
                <select asp-for="PropertyManagerId" class ="form-control" asp-items="ViewBag.PropertyManagerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PotentialTenantId" class="control-label">Potential Tenant</label>
                <select asp-for="PotentialTenantId" class ="form-control" asp-items="ViewBag.PotentialTenantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label">Scheduled Date</label>
                <input asp-for="ScheduledDate" class="form-control" />
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label">Status</label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
