@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="scroll-container">
        <div id="scroll-text">
            <h1 class="flash display-4">Welcome to our Property Rental Management Website</h1>
        </div>
    </div>
    <img class="mt-5" src="~/background.jpg" height="250" />
</div>
